<html>
<head>
	<title></title>
</head>
<body>
	<!-- CARD page -->
    <div data-role="view" id="card" data-title="Card" data-init="JitterzApp.cardInit('#cardFront','#cardBack','#cardContainer','#cardWrapper')">
		<div data-role="content">
			<div id="cardWrapper">
				<div id="cardContainer">		        	
		        	<div id="cardBack">
		        		CARD BACK
		        	</div>
		        	<div id="cardFront">
		        		CARD
		        	</div>
	        	</div>
	        </div>

	        <div class="spinning" id="scanNow">
	        	Scan Now
	        </div>
        </div>
    </div>
</body>
</html>