<html>
<head>
	<title></title>
</head>
<body>
	<!-- CARD page -->
    <div data-role="view" id="card" data-title="Card" data-init="JitterzApp.cardInit('#cardFront','#cardBack','#cardContainer','#cardWrapper', '#scanNow', '#cardBalance')">
    	<header data-role="header">
	    	<div data-role="navbar">
	    		<div data-role="view-title"></div>
	    		<a data-role="button" class="titleButton" data-icon="add" data-align="right" id="btnAddCard"></a>
	    	</div>
	    </header>
		<div data-role="content">
			<div id="cardWrapper">
				<div id="cardContainer">		        	
		        	<div id="cardBack">
		        		<p>Scan card now to pay</p>
		        		<figure>123456789</figure>
		        	</div>
		        	<div id="cardFront">
		        		<p>TAP CARD TO PAY<p>
		        	</div>
	        	</div>
	        </div>

	        <div id="cardBalance">
	        	<span class="amt">$12.45</span>
	        	<aside>Updated TODAY at 12:05 PM</aside>

	        	<div class="buttons">
	        		<a href="#reload" data-role="button" class="darkButton">Reload Card</a>
	        		<a href="#manage" data-role="button" class="darkButton">Manage Card</a>
	        	</div>
	        </div>

	        <div class="spinning" id="scanNow">
	        	Scan Now
	        </div>
        </div>
    </div>
</body>
</html>