<div data-role="view" id="rewardsView" data-style="inset" data-title="Rewards" data-init="rewardsViewInit" data-model="cardsData">
	<div id="rewardsCardsViewContent" data-role="content">
        
        <!-- List of cards -->
        <ul id="rewordsCardsList" data-role="listview" data-style="inset" data-bind="source: cards" data-template="rewordsCardsList-template"></ul>
    </div>
</div>

<div data-role="view" id="rewardCard" data-style="inset"  data-title="Reward Card" data-show="rewardCardShow">
	<header data-role="header" data-id="jitterz-default-header">
		<div data-role="navbar">
			<a class="nav-button" data-role="backbutton" data-align="left">Back</a>
			<span data-role="view-title"></span>
		</div>
	</header>
	<div id="singleCardContainer" class="clear">
		<div id="rewardCardFront" class="cardStyle" >
			<div class="clear">
				<div class="iconContainer">
					<div class="icon"></div>
				</div>
				<div class="bonusContainer clear">
					<span class="bonusPoints" data-bind="text: bonusPoints"></span>
					<div class="dateLine">
						<span>as of</span>
						<span data-bind="text: currentDate"></span>
					</div>
				</div>

			</div>
			<div class="amountLine">
				<div class="cardNumberLine" data-bind="text: cardNumber"></div>
			</div>
		</div>
		<div id="rewardCardBack" class="cardStyle clear gold">
			<img id="barcodeImage" data-bind='attr: {src:barcodeURL}' alt="Shop Card Id"/>
		</div>
	</div>
	<div class="clear">
		<div>
			<ul id="rewardsList" data-role="listview" data-style="inset" data-bind="source: rewards" data-template="rewardsListTemplate"></ul>
		</div>
	</div>
</div>

<!-- Templates -->
<script type="text/x-kendo-template" id="rewardsListTemplate">
    <li>
        <p class="item-info">${reward}</p>
    </li>
</script>

<script type="text/x-kendo-template" id="rewordsCardsList-template">
    <a class="listReswardsCard clear" data-role="listview-link" href='rewardCard?bonusPoints=${bonusPoints}&cardNumber=${cardNumber}' data-cardId="${cardNumber}">
               <div 
				#if(bonusPoints<50){#
					class="silverCardImage cardPicture"
				#}else{#
                     class="goldCardImage cardPicture"
					#}
				#></div>
        <div class="cardInformationContainer">
            <span>Card Number: </span>
            <span class="cardNumberText">${cardNumber}</span>
            <div class="expireDateText">Expire on ${expireDate}</div>
        </div>
        <div class="clear"></div>
    </a>    
</script>