<html>
<head>
	<title></title>
</head>
<body>
    <!-- STORES page -->
    <div data-role="view" id="stores" data-title="Stores" data-show="JitterzApp.storesShow" data-init="JitterzApp.storesInit">
    	<header data-role="header">
    	<div data-role="navbar">
    		<a data-role="button" data-icon="locate" data-align="left" id="btnRefreshMap"></a>
    		<ul data-role="buttongroup" data-index="0" data-align="center" style="width:100%">
    			<li>Map</li>
    			<li>List</li>
    		</ul>
    	</div>
    </header>
		<div data-role="content">
        	<div id="map">
			</div>
        </div>
    </div>
</body>
</html>