.offline{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top:30%;
    color: rgb(20,20,20);
    text-shadow:0 -1px rgba(225,225,225,0.3);
    font-size:1rem;
}

#map
{
	height: 365px;
}

#announcements
{
    margin: 12px;
    padding: 3px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}

.item-photo {
    width: 5em;
    height: 3.5em;
    float: left;
    margin: .5em 0;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#announcements-listview .item-title {
	float: left;
	font-size: 1.3em;
    line-height: 1.2em;
    margin: 0 0 0 .8em;
    width: 61%;
}

#announcements-listview .item-info {
	float: left;
	font-size: 1em;
    font-weight: 100;
	line-height: 1em;
    margin: 0 0 0 1em;
    width: 61%;
}

/*############ VIEW: CARDS ################*/
#cardWrapper{
    position:relative;
    width:280px;
    height:185px;
    top:10px;
    left:20px;
}

#cardFront,#cardBack,#cardContainer{
    position:absolute;
    width:280px;
    height:185px;
}

#cardFront,#cardBack{
    border-radius:7px;
    box-shadow:2px 2px 4px #333;
    border:solid 1px #222;
    text-align: center;
    color:#000;
    font-weight: bold;
}

#cardFront {
        background:#333 url(images/jitterzcard-1.png) no-repeat 0 0;
}

@media only screen and (-webkit-device-pixel-ratio:2) {
    #cardFront {
        background:#333 url(images/jitterzcard-1_retina.png) no-repeat 0 0;
    }
}

#cardFront p {
    position:absolute;
    bottom: 0px;
    left:5%;
}

#cardBack{
    background:#CCC;
}

#cardBack figure {
    width:80%;
    height:25%;
    margin:0;
    position: absolute;
    bottom: 20%;
    left: 10%;
}

#cardBalance{
    margin:10% auto;
    width:38%;
    padding:5%;
    border:solid 1px #000;
    text-align: center;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #e8c574 0%,#996d00 100%);
    background: linear-gradient(to bottom, #e8c574 0%,#996d00 100%);
}

#cardBalance .amt {
    font-size:1.5rem;
}

#cardBalance aside{
    font-style: italic;
}

#scanNow{
    height:50px;
    width:100px;
    margin:50px auto 0;
    /*background: url(images/noun_CoffeeCup.svg) no-repeat 0 0;*/
    -webkit-mask-box-image: url(images/noun_CoffeeCup.svg);
    background:white;
    text-align: center;
    padding-top:50px;
    font: bold 11px sans-serif;
    display:none;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY( 0deg );
  }
  to { 
    -webkit-transform: rotateY(360deg);
  }
}

.spinning{
    transform-style: preserve-3d;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         2.5s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: ease-in-out;
}

/*###########################################*/

.km-ios #home .km-list
{
    background: rgba(255, 255, 255, 0.5);
}

.km-card
{
	-webkit-mask-box-image: url("images/card.png");
}

.km-rewards
{
	-webkit-mask-box-image: url("images/rewards.png");
}

.km-stores
{
	-webkit-mask-box-image: url("images/stores.png");
}

.km-locate
{
    -webkit-mask-box-image: url("images/iconLocate.png");
}

.km-ios #jitterz-tabstrip
{
	border-top: 2px solid #66ccff;
}

/*=========== MANUAL KENDO UI OVERRIDES =============*/
.km-ios .km-buttongroup .km-button{
    font-size:12px;
}

.km-header{
    text-align: center;
}

.km-navbar .km-view-title{
    margin-top:.3rem;
}

.km-buttongroup .km-button{
    padding:0em 1.5em;
    margin:0;
}

/*=========== KENDO UI MOBILE THEME BUILDER CUSTOM IOS/ANDROID STYLES ===========*/
.km-ios .km-view .km-navbar {
    background-color: rgb(95, 73, 53);
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(0,0,0,.2)),color-stop(1, rgba(0,0,0,.69)));
    background-image: -moz-linear-gradient(50% 0,50% 100%,rgba(0,0,0,.2),rgba(0,0,0,.69));
    background-repeat: repeat;
    background-position: 0 0;
    box-shadow: 0px 2px 2px #000;
}
.km-ios .km-view .km-content {
    background-color: rgb(127, 127, 127);
    background-image: none;
    background-image: none;
    background-repeat: ,repeat;
    background-position: ,0% 0%;
    font-family: HelveticaNeue, Roboto, 'Myriad Pro', 'Nokia Pure', Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    text-shadow: none;
}

.km-ios .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(95, 73, 53);
    background-image: none;
    background-image: none;
    background-repeat: repeat;
    background-position: 0 0;
}
.km-ios .km-view .km-navbar .km-button.km-state-active {
    background-color: rgb(11, 128, 0);
}
.km-ios .km-view .km-navbar .km-button {
    background-color: rgb(11, 128, 0);
}
.km-ios .km-view .km-content .km-listgroupinset .km-group-title .km-text {
    color: rgb(255, 255, 255);
}
.km-ios .km-view .km-content .km-button.km-state-active {
    background-color: rgb(11, 128, 0);
}
.km-ios .km-view .km-content .km-listgroup .km-group-title {
    background-color: rgb(11, 128, 0);
}
.km-android .km-view .km-tabstrip .km-state-active span.km-icon, .km-ios .km-view .km-tabstrip .km-state-active span.km-icon {
    background: rgb(11, 128, 0);
}
.km-android .km-view .km-tabstrip {
    background-color: rgb(11, 128, 0);
}
.km-android .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(95, 73, 53);
}
.km-android .km-view .km-navbar .km-button.km-state-active {
    background-color: rgb(11, 128, 0);
}
.km-android .km-view .km-content .km-button.km-state-active {
    background-color: rgb(11, 128, 0);
}


